:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  min-width: 375px;
}
.car_container {
  height: 670px;
  background-color: var(--cream);
  font-family: "Montserrat", sans-serif;
  padding-top: 1px;
}

.card {
  width: 344px;
  height: 610px;
  background-color: var(--White);
  border-radius: 10px;
  margin: 25px 15px;
}

.card_image {
  width: 344px;
  height: 240px;
  background-image: url(../images/image-product-mobile.jpg);
  background-size: cover;
  border-radius: 10px 10px 0 0;
}

.image {
  width: 344px;
  bottom: 240px;
}

.card_content {
  border-radius: 0 0 10px 10px;
  padding: 25px;
}

.title_type {
  font-size: 12px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--Dark-grayish-blue);
}

.title_name {
  font-family: "Fraunces", serif;
  font-size: 33px;
  margin-top: 15px;
  line-height: 1;
}

.description {
  color: var(--Dark-grayish-blue);
  font-size: 13px;
  margin-top: 15px;
  line-height: 1.7;
  letter-spacing: 1.1px;
}

.price_container {
  display: flex;
  align-items: center;
  margin: 20px 0 15px 0;
}

.price {
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 33px;
}

.price_old {
  text-decoration-line: line-through;
  font-size: small;
  color: var(--Dark-grayish-blue);
  margin-left: 20px;
}

.buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--dark-cyan);
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  color: var(--cream);
}

.cart {
  padding-right: 15px;
}
.buttom:hover {
  background-color: hsl(157, 34%, 24%);
}

@media (min-width: 376px) {
  body {
  }
  .car_container {
    margin: 0 auto;
    width: 1440px;
    height: 800px;
    padding: 175px 420px;
  }
  .card {
    margin-top: 0;
    width: 600px;
    height: 450px;
    display: flex;
  }
  .card_content {
    width: 300px;
    padding: 30px;
    border-radius: 0 10px 10px 0;
  }
  .card_image {
    width: 300px;
    height: 450px;
    background-image: url(../images/image-product-desktop.jpg);
    background-size: cover;
    border-radius: 10px 0 0 10px;
  }
  .title_type {
    font-size: 13px;
  }

  .title_name {
    font-size: 34px;
    margin-top: 20px;
  }

  .description {
    margin-top: 20px;
    line-height: 1.8;
  }

  .price_container {
    margin: 20px 0 20px 0;
  }

  .price {
    font-size: 34px;
  }
}
